.xbody {
	MARGIN: 0px
}
A.a_11px_024543:link {
	FONT-SIZE: 11px; COLOR: #024543; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_024543:visited {
	FONT-SIZE: 11px; COLOR: #024543; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_2F3D3F:hover {
	FONT-SIZE: 11px; COLOR: #024543; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_black:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_black:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_black:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: underline
}
.font_14px_FF9B02 {
	FONT-SIZE: 14px; COLOR: #ff9b02; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.font_12px_0496F7 {
	FONT-SIZE: 12px; COLOR: #0496f7; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.table_fourline_grey {
	BORDER-RIGHT: #d0d0d0 1px solid; BORDER-TOP: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; BORDER-BOTTOM: #d0d0d0 1px solid
}
.bg_color {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #6699cc 1px solid; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.table_underline_606060 {
	BORDER-RIGHT: #606060 1px; BORDER-TOP: #606060 1px; BORDER-LEFT: #606060 1px; BORDER-BOTTOM: #606060 1px solid
}
.font_12_bold_black {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.a_14px_orange:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9b02; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_14px_orange:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9b02; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_14px_orange:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #accd6b; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: underline
}
A.a_12px_white:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_12px_white:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_12px_white:hover {
	FONT-SIZE: 12px; COLOR: #2a5a61; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_12px_2F3D3F:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2f3d3f; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_12px_2F3D3F:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2f3d3f; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_12px_2F3D3F:hover {
	FONT-SIZE: 12px; COLOR: #2a5a61; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_0471B9:link {
	FONT-SIZE: 11px; COLOR: #0471b9; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_0471B9:visited {
	FONT-SIZE: 11px; COLOR: #0471b9; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_0471B9:hover {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
.font_white {
	FONT-SIZE: 12px; COLOR: #ffffff
}
A.a_11px_green_00706D:link {
	FONT-SIZE: 12px; COLOR: #00706d; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_green_00706D:visited {
	FONT-SIZE: 12px; COLOR: #00706d; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
A.a_11px_green_00706D:hover {
	FONT-SIZE: 12px; COLOR: #01201f; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
.font_12px_green {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #97b65a; FONT-FAMILY: Tahoma, Verdana
}
