#container * { font-family: Arial, Verdana, sans-serif; font-size: 11px; }
.field { margin-bottom: 12px; color: white }
.field select { width: 135px; height :25px; }
#container .padder { padding: 8px; color: white;}
label { width: 150px; display: block; float: left; height: 22px; line-height: 22px; color: white; text-align: right;margin-right: 5px;}
#container input[type=text] { height: 22px; line-height: 22px; padding: 0px 4px; border: 1px solid #CCC; background: #FFF url(../images/input.jpg) no-repeat; }
#container input:focus { background-position: 0px -22px; border: 1px solid #86A3BF; }
#container input.big { width: 390px; }
#container input.medium { width: 180px; }
#container input.small { width: 60px; }
textarea { height: 250px; width: 390px;  line-height: 18px; padding: 4px; border: 1px solid #CCC; background: #FFF url(../images/textarea.jpg) no-repeat; }
textarea:focus { background-position: 0px -300px; border: 1px solid #86A3BF; }
textarea.small { height: 100px; width: 200px; }
textarea.description { height: 100px; width: 300px; }
textarea.address { height: 100px; width: 126px; }
.note { color: #555; font-size: 11px; }
#container .contacts {
    float: left;
}
#container .contacts label{
    margin-left: 20px;
    width: 120px;
    margin-right: 5px;
    text-align: right;
}
.validation {
    height: 30px;
    font: italic 11px Tahoma;
}